Source: ros-noetic-gmcl
Section: misc
Priority: optional
Maintainer: Mhd Ali Alshikh Khalil <adler1994@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pykdl, ros-noetic-catkin, ros-noetic-diagnostic-updater, ros-noetic-dynamic-reconfigure, ros-noetic-geometry-msgs, ros-noetic-map-server, ros-noetic-message-filters, ros-noetic-nav-msgs, ros-noetic-rosbag, ros-noetic-roscpp, ros-noetic-rostest, ros-noetic-sensor-msgs, ros-noetic-std-srvs, ros-noetic-tf2, ros-noetic-tf2-geometry-msgs, ros-noetic-tf2-msgs, ros-noetic-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-gmcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-diagnostic-updater, ros-noetic-dynamic-reconfigure, ros-noetic-geometry-msgs, ros-noetic-nav-msgs, ros-noetic-rosbag, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-std-srvs, ros-noetic-tf2, ros-noetic-tf2-msgs, ros-noetic-tf2-ros
Description: gmcl, which stands for general monte carlo localization, is a probabilistic-based localization technique for mobile robots in 2D-known map.
 It integrates the adaptive monte carlo localization - amcl - approach with three different particle filter algorithms (Optimal, Intelligent, Self-adaptive) to improve the performance while working in real time. Main node structure and amcl-algorithms’s code was derived, with thanks, from Brian Gerkey's amcl package.
